.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.row {
    background-color: #CCC8DC !important;
    color: black;
    padding: 50px;
    text-align: center;
    height: 800px;
}

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 70em;
}

.heroes tr {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-align: center;
}

.heroes tr:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.heroes tr.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}

.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: 1px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

button.delete {
    float: right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: red !important;
    color: white;
}

button.update {
    float: right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: blue !important;
    color: white;
}

button.add {
    float: right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: green !important;
    color: white;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
}