<div class="row">
    <div>
        <h2>Yuxi Angular 2 Bootcamp</h2>
    </div>
    <table class="table table-striped justify">
        <thead>
            <tr class="table-responsive">
                <th><span>Id</span></th>
                <th><span>FullName</span></th>
                <th><span>Foto</span></th>
                <th><span>HomeWork #1 </span></th>
                <th><span>HomeWork #2</span></th>
                <th><span>HomeWork #3 </span></th>
                <th><span>HomeWork #4</span></th>
                <th><span>HomeWork #5</span></th>
                <th><span>Last Update</span></th>
                <th><span>Update</span></th>
                <th><span>Delete</span></th>
            </tr>
        </thead>
        <tbody class="heroes">
            <tr *ngFor="let item of attendee" (click)="onSelect(attendee)" [class.selected]="attendee === selectedAttendee">
                <td><span class="badge">{{item.id}}</span></td>
                <td><span>{{item.firstName +" " +item.lastName}}</span></td>
                <td><span><img width="20px" height="20px" src="./../../assets/{{item.photo}}"></span></td>
                <td><span>{{item.hw1}}</span></td>
                <td><span>{{item.hw2}}</span></td>
                <td><span>{{item.hw3}}</span></td>
                <td><span>{{item.hw4}}</span></td>
                <td><span>{{item.hw5}}</span></td>
                <td><span>{{item.lastUpdateDate | date: 'dd/MM/yyyy'}}</span></td>
                <td>
                    <button (click)="gotoDetail(item.id)" class="update">~</button>
                </td>
                <td><button class="delete" (click)="delete(item); $event.stopPropagation()">x</button></td>
            </tr>
            <tr>
                <td colspan="11" (click)="gotoAdd()">Add Attendee <button class="add" (click)="gotoAdd(); $event.stopPropagation()">+</button></td>
            </tr>
        </tbody>
    </table>
</div>